{% extends 'base.html' %}
{% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="alert alert-info " role="alert">
                <form method="POST">
                    {% load bootstrap %}
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <table class="table ">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>
                                </button>
                            </th>
                            {% if city %}
                            <th scope="col">
                                <a href="{% url 'delete_city' city.id %}">
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                            </th>
                            {% endif %}

                        </tr>
                        </thead>
                    </table>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
