{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div  class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Cities</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>

    {% if regions %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Region</th>
                <th scope="col">Cities</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for region in regions %}
            <tr>
                <th scope="row">{{ region.region.code }}</th>
                <td>{{ region.region }}</td>
                <td>
                  {% for city in region.cities %}
                    {{ city.city }},
                  {% endfor %}
                </td>
                <td>
                  <a href="{% url 'update_region' region.region.id %}">
                      <button type="button" class="btn btn-success">UPDATE</button>
                  </a>
                </td>
                <td>
                  <a href="{% url 'delete_region' region.region.id %}">
                      <button type="button" class="btn btn-danger">DELETE</button>
                  </a>
                </td>
            </tr>
          {% endfor %}
          </tbody>

    {% else %}
        <h3>Please go to the admin and add a Name under 'MYAPP'</h3>
    {% endif %}

    <a href="{% url 'new_region' %}">
        <button type="button" class="btn btn-primary">New Region</button>
    </a>

{% endblock %}
