{% extends 'base.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <div class="alert alert-info" role="alert">
              Regiones
          </div>
          {% if regions %}
        <table class="table ">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for region in regions %}
            <tr>
                <th scope="row">{{ region.region.code }}</th>
                <td>{{ region.region }}</td>
                <td>
                  {% for city in region.cities %}
                    {{ city.city }},
                  {% endfor %}
                </td>
                <td>
                  <a href="{% url 'update_region' region.region.id %}">
                      <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                  </a>
                </td>
                <td>
                  <a href="{% url 'delete_region' region.region.id %}">
                      <button type="button" class="btn btn-danger">
                          <span class="glyphicon glyphicon-trash"></span>
                      </button>

                  </a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
    <h3>Please go to the admin and add a Name under 'CITIES'</h3>
    {% endif %}
          <a href="{% url 'new_region' %}">
              <button type="button" class="btn btn-primary">Nueva Region</button>
          </a>
      </div>

      <div class="col-md-6">
          <div class="alert alert-warning" role="alert">
              Ciudades
          </div>
          {% if cities %}
        <table class="table ">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for city in cities %}
            <tr>
                <th scope="row">{{ city.code }}</th>
                <td>{{ city.name }}</td>
                <td>
                  {{ city.is_active}}
                </td>
                <td>
                  <a href="{% url 'update_city' city.id %}">
                      <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </button>
                  </a>
                </td>
                <td>
                  <a href="{% url 'delete_city' city.id %}">
                      <button type="button" class="btn btn-danger">
                          <span class="glyphicon glyphicon-trash"></span>
                      </button>
                  </a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
    <h3>Please go to the admin and add a Name under 'CITIES'</h3>
    {% endif %}
          <a href="{% url 'new_city' %}">
              <button type="button" class="btn btn-primary">Nueva Ciudad</button>
          </a>

    </div>

</div>



{% endblock %}
